<!DOCTYPE html>
<html>
  <head>
    <title>calculator</title>
    <style>
    h1{text-align: center; border: 3px solid #CE5937; background-color:#EFDECD ; text-shadow: 1px 2px 2px #CE5937;}
    body{background-color:#FDECDF;}
    </style>
    <hr size=3 noshade>
    <h1>CALCULATOR</h1>
    <hr size=3 noshade>
  </head>
  <body>
    <ul>
    <h3><a href = "http://localhost:5000/addition"><li>Addition</li></a></h3>
    <h3><a href = "http://localhost:5000/subtraction"><li>Subtraction</li></a></h3>
    <h3><a href = "http://localhost:5000/multiplication"><li>Multiplication</li></a></h3>
    <h3><a href = "http://localhost:5000/division"><li>Division</li></a></h3>
    </ul>
  </body>
</html>