<html>
  <head>
    <title>Library Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
  <body  style="background-color:rgb(238, 179, 175);">
    <h3>Add to your cart:</h3>
    <form action="/borrowbooks" method="get">
      <label>All available books: {{b}}</label><br>
    </form>
    <form action="/borrowbooks" method="post">
      <label>Enter book id:</label>
      <input type="text" placeholder="book_id" name="book_id"><br>
      <input type="submit" value="Borrow"> <br>
    </form>
    <h3><a href="/borrowedbooks"><li>Books in your cart</li></a></h3>
    <h3><a href="/logged_in"><li>Back to home</li></a></h3>
  </body>
</html>