<html>
    <head>
        <title>Library Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body  style="background-color:rgb(238, 179, 175);">
        <h2>DELETE BOOKS</h2>
        <form action="/delete" method="post">
            <label>Enter book id:</label>
            <input type="text" placeholder="book_id" name="book_id"><br>
            <input type="submit" value="DELETE">
        </form>
    <h3><a href="/logged_in"><li>Back to home</li></a></h3>
    <h3><a href="/"><li>log out</li></a></h3>
    </body>
</html>