<html>
  <head>
    <title>Library Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body  style="background-color:rgb(238, 179, 175);">
    <div class="container">
      <h1></h1>
      <br>
      <div class="login-box" style="position:relative;left:490px;top:100px;">
        <div class="login-logo">
            <b>
                <div class="center" style="font-size:32px ;color:  #cf4238 ;font-family:courier,arial,helvetica">LIBRARY MANAGEMENT</div></b>
        </div>
        <form name="loginForm" action="" method="post">
          <div class="form-group has-feedback">
            <input type="text" placeholder="usermailid" name="usermailid" value="{{
          request.form.usermailid }}">
          </div>
          <div class="form-group has-feedback">
           <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          </div>
          <input class="btn btn-default" type="submit" value="Login">
       </form>
       <a href="/register">Register</a>
      </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
